<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Student Information</h1>
    <table border="3" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            <% data.map((stu)=> { %>
                <tr>
                    <td><%= stu.id %></td>
                    <td><%= stu.name %></td>
                    <td><%= stu.course%></td>
                    <td><%= stu.mail%></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>